<section>
    <h3>Дата последнего обновления реестра</h3>
<?php echo $date;?>
    <h3>Выгрузить</h3>
    <?php if (isset($code)):?>
    <div id="status"><input type="submit" id="go" value="Начать"></div>
    <script>
        
    $(document).ready(function(){
    
    $.fn.spin = function(opts) {
    this.each(function() {
      var $this = $(this),
          data = $this.data();

      if (data.spinner) {
        data.spinner.stop();
        delete data.spinner;
      }
      if (opts !== false) {
        data.spinner = new Spinner($.extend({color: $this.css('color')}, opts)).spin(this);
      }
    });
    return this;
    };

    var st = $("#status") 
    $("#go").click(function(){       
        st.empty();
        st.append("<h4>Подождите, идет обработка запроса</h4>");    
        st.append("<h4 id='spin'></h4>"); 
        $("#spin").spin();
        var round = setInterval(function(){        
        $.getJSON('home/getresult',{code: '<?php echo $code; ?>' }, function(data){
            if (data[0] == 1){
                clearInterval(round);
                st.empty();
                st.append("<h4>Данные успешно выгруженны</h4>");
                st.append("<a href='request/files'>Перейти к списку выгруженных файлов</a>");                
            }
	});
    },
    
    5000);
    });
    
    });
    </script>
    <?php endif?>
    
        
    
    
</section>
