<section>
    <h3 id="title_use_file">Выгржуенные файлы в ZIP архивах</h3>
<table class="table">
<tr>
    <th>ID</th>
    <th>Дата</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($files as $file) : ?>
<tr>
    <td><?php echo $this->escapeHtml($file->id);?></td>
    <td><?php echo $this->escapeHtml(date("l jS \of F Y h:i:s A",$file->date));?></td>
    <td>
        <a href="<?php echo $this->url('request',array('action'=>'download', 'id' => $file->id));?>">Сохранить</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
</section>