<?php //$this->headTitle()->prepend('Register'); ?>
<section class="uploadfiles">
<h3>Загрузка новых фалов</h3>

<?php if ($this->error): ?>
<p class="error">
    Одно или несколько полей незаполнены. Пожалуйста введите корректные данные.
</p>
<?php endif ?>

<?php 
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url(NULL, array('controller'=>'uploadfiles', 'action' => 'process')));
$form->setAttribute('method', 'post');

echo $this->form()->openTag($form);
?>
<dl class="zend_form">
<dl class="sec_zend_form">
<dt><?php echo $this->formLabel($form->get('xml')); ?></dt>
<?php 
    echo $this->formElement($form->get('MAX_FILE_SIZE'));
    echo $this->formElement($form->get('sender'));
?>
<dd><?php 
    echo $this->formElement($form->get('xml'));
    echo $this->formElementErrors($form->get('xml'));
?></dd>
</dl>
<dl class="sec_zend_form">
<dt><?php echo $this->formLabel($form->get('pkcs')); ?></dt>
<dd><?php 
    echo $this->formElement($form->get('pkcs'));
    echo $this->formElementErrors($form->get('pkcs'));
?></dd>
</dl>
<dl class="sec_zend_form">
<dd><?php 
    echo $this->formElement($form->get('send'));
    echo $this->formElementErrors($form->get('send'));
?></dd>
</dl>
</dl>
<?php echo $this->form()->closeTag() ?>
<h3 id="title_use_file">Выбор файлов для работы с сервисом</h3>
<table class="table">
<tr>
    <th>ID</th>
    <th>Дата</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($files as $file) : ?>
<tr>
    <td><?php echo $this->escapeHtml($file->id);?></td>
    <td><?php echo $this->escapeHtml(date("l jS \of F Y h:i:s A",$file->date));?></td>
    <td>
        <?php if ($file->used==0): ?>
        <a style="display:inline-block; width: 60px;" href="<?php echo $this->url('uploadfiles',array('action'=>'used', 'id' => $file->id));?>">Выбрать</a>
        <?php else : ?>
        <span style="color:#70d900; display:inline-block; width: 60px;" >Активна</span>
        <?php endif ?>
        <a href="<?php echo $this->url('uploadfiles',array('action'=>'delete', 'id' => $file->id));?>">Удалить</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
</section>
